<header class="section pb-0">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <img src="{{ '/img/smalands-cykel-logo.png' | relative_url }}" alt="Smålands Cykel" title="Smålands Cykel" width="280" height="92">
      </div>
      <div class="column is-2">
        <strong>Öppettider</strong><br>
        Måndag-Fredag 9.00-18.00 (lunch 13-14)<br>
        Lördag 10.00-14.00
      </div>
      <div class="column is-2">
        <strong>Kontakt</strong><br>
        Tel. 0470-475 48<br>
        Mobil 076-2434735<br>
        Västra Esplanaden 15<br>
        352 31 Växjö
      </div>
      <div class="column is-2 has-text-right has-text-left-mobile">
        <a href="https://www.facebook.com/SmalandsCykel/" target="_blank" rel="noopener noreferrer">
          <img src="{{ '/img/facebook.png' | relative_url }}" title="Vi finns på Facebook" alt="Facebook">
        </a>
      </div>
    </div>
  </div>
</header>